{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-6 d-none d-md-flex p-0 login">
                <img src="{{ asset('images/divers/background-login.jpg') }}" alt="">
            </div>
            <div class="col-md-6 bg-light">
                <div class="d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4">Connexion</h3>
                                <p class="text-muted mb-4">Créez, participez à des sorties entres élèves.</p>
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <div class="form-group mb-3">
                                        <input value="{{ last_username }}" id="inputEmail" type="text" name="username" placeholder="Email/Pseudo" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input id="inputPassword" type="password" name="password" placeholder="Mot de passe" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-checkbox mb-3 col-lg-6 col-md-12">
                                            <input id="customCheck1" type="checkbox" name="_remember_me" class="custom-control-input">
                                            <label for="customCheck1" class="custom-control-label">Se souvenir de moi</label>
                                        </div>
                                        <div class="col-6">
                                            <a href="{{ path('app_reset_password', {'token': 'x'}) }}" class="text-end fs-6">Mot de passe oublié</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Valider</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
