<h1>Hey ! Bonjour {{ user.prenom }}</h1>

<p>
    Votre compte sur Sortir.com est maintenant actif, vous trouverez ci-dessous vos identifiants de connexion : <br><br>
</p>
<p>Votre email : {{ user.email }}</p>
<p>Votre pseudo : {{ user.pseudo }}</p>
<p>Votre password : {{ password }}</p>
{#<a href="{{ signedUrl|raw }}">Confirmer</a>.#}
<a href="http://localhost/sortir.com/public/user/modifier">Accéder</a>
{#<p>#}
{#Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.#}
{#</p>#}

<p>
    A tout de suite !
</p>
