{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container pt-3 pb-5">
        <div class="row justify-content-center">
            <h1 class="text-center">Inscriptions</h1>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-4">
                <h5>Inscription manuel</h5>
                {{ form_start(registrationForm) }}
                <div class="row pt-2">
                    {{ form_row(registrationForm.pseudo, {'attr': {'placeholder': 'Pseudo','class': 'w-100'}}) }}
                </div>
                <div class="row pt-2">
                    {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Email','class': 'w-100'}}) }}
                </div>
                <div class="row pt-2">
                    {{ form_row(registrationForm.nom, {'attr': {'placeholder': 'Nom','class': 'w-100'}}) }}
                </div>
                <div class="row pt-2">
                    {{ form_row(registrationForm.prenom, {'attr': {'placeholder': 'Prénom','class': 'w-100'}}) }}
                </div>
                <div class="row pt-2">
                    {{ form_row(registrationForm.Campus, {'attr': {'class': 'w-100'}}) }}
                </div>
                <div class="row pt-2">
                    {{ form_row(registrationForm.plainPassword, {'attr': {'placeholder': 'Password','class': 'w-100'}}) }}
                </div>
                <div class="row pt-2">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
                    </div>
                </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="col-4">
                <h5>Inscriptions via fichier</h5>
                {{ form_start(fileCsvUploadForm) }}
                <div class="row pt-2">
                    {{ form_widget(fileCsvUploadForm, {'attr': {'placeholder': 'Password','class': 'w-100'}}) }}
                </div>
                <div class="row pt-2">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                    </div>
                </div>
                {{ form_end(fileCsvUploadForm) }}
            </div>
        </div>
    </div>

{% endblock %}
