{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/bruno.css') }}">{% endblock %}
{% block title %}Modifier profil{% endblock %}

{% block body %}

    <div class="container pt-3 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                {{ form_start(userForm) }}
                {{ form_row(userForm.pseudo, {'attr': {'class': ''}}) }}

                {{ form_row(userForm.nom, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.prenom, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.email, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.telephone, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.image, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.plainPassword, {'attr': {'class': ''}}) }}
                <div class="row justify-content-center mt-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary w-100">Enregister</button>
                    </div>
                </div>
                {{ form_end(userForm) }}
            </div>
            <div class="col-2">
                <div class="row">
                    {% if user.actif %}
                        <a class="btn btn-primary btn-sm mt-3" href="{{ path('admin_user_disable', {'id' : user.id}) }}">Désactiver l'utilisateur</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm mt-3" href="{{ path('admin_user_enable', {'id' : user.id}) }}">Activer l'utilisateur</a>
                    {% endif %}
                </div>
                <div class="row">
                    <a class="btn btn-primary btn-sm mt-3" href="{{ path('admin_user_delete', {'id' : user.id}) }}">Supprimer l'utilisateur</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
