{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/bruno.css') }}">{% endblock %}
{% block title %}Profil{% endblock %}

{% block body %}

    <h2 class="div1">Profil de {{ user.pseudo }}</h2>

    <div class="container">
        <div class="row">
            <div class="col-2">
                {% if user.urlImage %}
                    {% if 'http' in user.urlImage %}
                        <img src="{{ user.urlImage }}" alt="image user">
                    {% else %}
                        <img src="{{ 'images/users/' ~ user.urlImage }}" alt="image user">
                    {% endif %}
                {% else %}
                    <img src="{{ 'images/users/imageUserParDefault.png' }}" alt="image user" width="100%">
                {% endif %}
            </div>
            <div class="col">
                <p>Nom : {{ user.nom }}</p>
                <p>Prénom : {{ user.prenom }}</p>
                <p>Téléphone : {{ user.telephone }}</p>
                <p>Email : {{ user.email }}</p>
                <p>Pseudo : {{ user.pseudo }}</p>
                <p>Campus : {{ user.campus.nom }}</p>
                <p>Actif : {{ user.actif }}</p>
            </div>
        </div>
        <a href="{{ path('admin_user_modifier', {'id' : user.id}) }}">Modifier le profil</a>
    </div>
    <div>
        <a href="{{ path('admin_user_disable', {'id' : user.id}) }}">Désactiver l'utilisateur</a>
    </div>
    <div>
        <a href="{{ path('admin_user_delete', {'id' : user.id}) }}">Supprimer l'utilisateur</a>
    </div>

{% endblock %}
