{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/anne.css') }}">{% endblock %}
{% block title %}Gérer les campus{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="div1">Gérer les campus</h2>

        <div class="div2 row">
            <input class="inputRechercherCampus form-control col sm-3" type="text" id="nomCampus" alt="nom du campus" placeholder="Filtrer par site">
            <button class="btnRechercherCampus btn btn-light col sm-2">Rechercher</button>
        </div>

        {{ form_start(campusForm) }}
            <div class="div3 row">
                <input class="form-control col sm-3" type="text" placeholder="Ajouter un campus ..." {{ form_widget(campusForm.nom) }} {{ form_errors(campusForm.nom) }}>
                <button type="submit" class="btnAjouterCampus btn btn-light col sm-2" alt="ajouter">Ajouter</button>
            </div>
        {{ form_end(campusForm) }}

        <ul class="list-group list-group-horizontal row justify-content-center">
            <li class="list-group-item col-2">Campus</li>
            <li class="list-group-item col-2">Actions</li>
        </ul>

        {% for campus in tableauCampus %}
            <form id="formCampus{{ campus.id }}">
                <ul class="list-group list-group-horizontal row justify-content-center">
                    <li class="list-group-item col-2" id="afficherNomCampus{{ campus.id }}">{{ campus.nom }}</li>
                    <li class="list-group-item col-1" id="modifier{{ campus.id }}"><button class="btn btn-outline-secondary" onclick="modifierCampus({{ campus.id }})">Modifier</button></li>
                    <li class="list-group-item col-1" id="supprimer{{ campus.id }}">
                        <a class="btn btn-outline-secondary" href="{{ path('campus_delete', {'id' : campus.id}) }}">Supprimer</a>
                </ul>
            </form>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}<script src="{{ asset('js/campus.js') }}"></script>{% endblock %}
