{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/anne.css') }}">{% endblock %}
{% block title %}Gérer les villes{% endblock %}

{% block body %}

        <h2 class="div1">Gérer les villes</h2>

        <form class="div2 d-flex justify-content-evenly" id="formSearch">
            <input class="inputRechercherVille form-control col-4" type="text" id="rechVille" name="rechVille" alt="nom de la ville" placeholder="Filtrer par ville">
            <button class="btnRechercherVille btn btn-light col-3" type="submit" id="rechButton">Rechercher</button>
        </form>

        {{ form_start(villeForm) }}
            <div class="div3 d-flex justify-content-evenly">
                <input class="form-control col-4" placeholder="Ajouter une ville ..." {{ form_widget(villeForm.nom) }} {{ form_errors(villeForm.nom) }}>
                <input class="form-control col-3" placeholder="Ajouter un code postal ..." {{ form_widget(villeForm.codePostal) }} {{ form_errors(villeForm.codePostal) }}>
                <button type="submit" class="btnAJouterVille btn btn-light col-3" alt="ajouter une ville">Ajouter</button>
            </div>
        {{ form_end(villeForm) }}

    <div class="container-fluid">
        <ul class="list-group list-group-horizontal row justify-content-center">
            <li class="list-group-item col-2">Ville</li>
            <li class="list-group-item col-2">Code postal</li>
            <li class="list-group-item col-2">Actions</li>
        </ul>

        <div id="searchResult">
        {% for ville in villes %}
           <form id="formVille{{ ville.id }}">
                <ul class="list-group list-group-horizontal row justify-content-center">
                    <li class="list-group-item col-2" id="afficherNomVille{{ ville.id }}">{{ ville.nom }}</li>
                    <li class="list-group-item col-2" id="afficherCPville{{ ville.id }}">{{ ville.codePostal }}</li>
                    <li class="list-group-item col-1" id="modifier{{ ville.id }}"><button class="btn btn-outline-secondary" onclick="modifierVille({{ ville.id }})">Modifier</button></li>
                    <li class="list-group-item col-1" id="delete{{ ville.id }}">
                        <a class="btn btn-outline-secondary" href="{{ path('ville_delete', {'id': ville.id}) }}">Supprimer</a>
                    </li>
                </ul>
           </form>
        {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ville.js') }}"></script>
    <script>
        requeteAjaxFormulaire('#formSearch', '#rechButton', "click", '#searchResult', false);
    </script>
{% endblock %}

