{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/marie-laure.css') }}">{% endblock %}

{% block body %}
<div class="container bg-white p-3 w-75 my-3">
    <div class="d-flex">
            {{ form_start(sortieForm, {'attr': { 'class':"row g-3 needs-validation"}})  }}
    <div class="form-group ">
        <div class="col-md-4">
            {{ form_row(sortieForm.nom, {'attr': {'class':"col-md-4 form-control" }})}}
    </div>
    </div>
    <div class="form-group d-inline-flex">
        <div class="form-floating">{{ form_row(sortieForm.dateDebut, {'attr': {'class':"col-md-6 form-control" }})}}</div>
    <div class="form-floating">{{ form_row(sortieForm.dateCloture, {'attr': {'class':"col-md-6 form-control" }})}}</div>

    </div>
    <div class="form-group d-inline-flex row-cols-md-4">
    {{ form_row(sortieForm.nbreInscriptionMax, {'attr': {'class':"form-control" }})}}
    {{ form_row(sortieForm.duree, {'attr': {'class':"form-control" }})}} minutes
    </div>
    <div class="form-group col-md-6">
    {{ form_row(sortieForm.description, {'attr': {'class':"form-control" }})}}
    </div>

    {{ form_row(sortieForm.urlImage) }}
    <div class="form-row">
        {{ form_row(sortieForm.lieu) }}
            <input class="btn btn-success" type="button" id="btnNewLieu" onclick="afficherLieuForm()" value="+">
    </div>

        <div class="form-group d-inline-flex">
            {{ form_row(sortieForm.save) }}
            {{ form_row(sortieForm.saveAndPublish) }}
            <a href="{{ path('main') }}">{{ form_row(sortieForm.cancel) }}</a>
        </div>
    {{ form_end(sortieForm, {'attr': { 'class':"form-group row g-3 needs-validation"}})  }}

<div id="lieuForm" style="display: none" class="form-group form-control h-50 m-md-2">
    <h6>Ajouter un lieu</h6>
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm, {'attr' : { 'display' : 'none'}}) }}
    {{ form_end(lieuForm) }}
</div>
    {#{'attr' : { 'onchange' : 'onLieuSelected(this.value)'}}#}
</div>
</div>
{% endblock %}

{% block title %}
Créer une nouvelle sortie | Sortir.com
{% endblock %}

