{% extends 'base.html.twig' %}

{% block body %}
<div>
    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateDebut) }}
    {{ form_row(sortieForm.dateCloture) }}
    {{ form_row(sortieForm.nbreInscriptionMax) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.description) }}
    {{ form_row(sortieForm.urlImage) }}
    {{ form_row(sortieForm.lieu, {'attr' : { 'onchange' : 'onLieuSelected()'}}) }}
    <input type="button" id="btnNewLieu" onclick="afficherLieuForm()" value="Ajouter lieu">

    {{ form_row(sortieForm.lieuForm, {'attr' : { 'display' : 'none'}}) }}


    <button>Enregistrer</button>
    <button>Publier la sortie</button>
    <button>Annuler</button>
    {{ form_end(sortieForm) }}
</div>
{% endblock %}

{% block title %}
Créer une nouvelle sortie | Sortir.com
{% endblock %}

