{% extends 'base.html.twig' %}

{% block styleSheets %}
    <link rel="stylesheet" href="{{ asset('css/marie-laure.css') }}">{% endblock %}
{% block title %}Créer une nouvelle sortie | Sortir.com{% endblock %}

{% block body %}
    <div class="container-sm bg-white p-5 w-75 my-3">
        <h1 class="text-center mb-5" style="font-family: 'Permanent Marker', sans-serif">Créer une sortie</h1>

        {{ form_start(sortieForm, {'attr': {'id': 'formSortie', 'class': 'form-horizontal m-auto'}}) }}

         {{ form_row(sortieForm.nom) }}

         {{ form_row(sortieForm.dateDebut) }}
         {{ form_row(sortieForm.dateCloture) }}

         {{ form_row(sortieForm.duree) }}
         {{ form_row(sortieForm.nbreInscriptionMax) }}
         {{ form_row(sortieForm.description) }}
         {{ form_row(sortieForm.image) }}
         {{ form_row(sortieForm.ville) }}
         {{ form_row(sortieForm.lieu, {'attr': {'disabled': true}}) }}


        {# BOUTON D'APPEL DE LA MODAL (POP-UP) DU FORMULAIRE DE CREATION DE LIEU #}
        <div class="form-group-row">
            <button type="button" class="btn btn-outline-primary mb-2 btn-sm" data-bs-toggle="modal"
                    data-bs-target="#blocModal">
                Ajouter un lieu
            </button>
        </div>


        <div class="form-group-row">
            <div class="form-check form-switch col my-3">
                <label for="etatcheckbox" class="form-check-label">Publier la sortie</label>
                <input class="form-check-input" type="checkbox" name="etatcheckbox" id="etatcheckbox" >
            </div>
        </div>



        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Enregister</button>
                <a type="button" class="btn btn-primary" href="{{ path('main') }}">Annuler</a>
            </div>
        </div>

        <div hidden>
            {{ form_row(sortieForm.save) }}
            {{ form_row(sortieForm.delete) }}
            {{ form_row(sortieForm.cancel) }}
        </div>
        {{ form_end(sortieForm) }}
    </div>



    {# FORMULAIRE DE CREATION DE LIEU #}
    <div class="form-row">
        <div class="col">
            <div class="modal fade" id="blocModal" tabindex="-1" aria-labelledby="blocModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {{ form_start(lieuForm, {'attr': {'id': 'formLieu'}}) }}
                        <div class="modal-header">
                            <h5 class="modal-title" id="blocModalLabel">Nouveau lieu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ form_widget(lieuForm) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="button" id="saveLieu" class="btn btn-primary">Enregistrer</button>
                        </div>
                        {{ form_end(lieuForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# FIN DU FORMULAIRE DE CREATION DE LIEU #}

    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $('#sortie_form_ville').on('change', () => {
            document.querySelector('#sortie_form_lieu').disabled = false;
            ajaxGet('sortie/lieux/' + $('#sortie_form_ville').val(), new URLSearchParams(),'#sortie_form_lieu');
        })

        $('#saveLieu').on('click', () => {
            const newLieu = {};
            newLieu.nom = $('#lieu_form_nom').val();
            newLieu.rue = $('#lieu_form_rue').val();
            newLieu.ville = $('#lieu_form_ville').val();
            newLieu.latitude = $('#lieu_form_latitude').val();
            newLieu.longitude = $('#lieu_form_longitude').val();

            ajaxPost('lieu/create', newLieu, () => {
                $('#sortie_form_ville').prop('selectedIndex',0);
                $('#sortie_form_lieu').prop('selectedIndex',0);
                document.querySelector('#sortie_form_lieu').disabled = true;
                $('.modal').modal('hide');
            });
        })
    </script>

{% endblock %}

