{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/dimitri.css') }}">{% endblock %}

{% block title %}{{ sortie.nom }}{% endblock %}

{% block extraStyles %}
    body {
    background-image: url("{{ sortie.urlImage}}");
    }
{% endblock %}

{% block body %}



    <div class="h1">
        <h1>{{ sortie.nom }}</h1>
    </div>
                <div class="section">
                  <div class="article">
                            <p>Description: {{ sortie.description }}</p>
                            <p>Durée de la sortie: {{ sortie.duree }} min</p>
                            <p>Organisateur :{{ sortie.organisateur.pseudo }}</p>
                            <p>Date cloture de l'inscription: {{ sortie.dateCloture | date('d/m/Y') }}
                            <p>Nombres d'inscriptions possibles: {{ sortie.nbreInscriptionMax }}</p>
                        </div>

                            <div class="icon">
    <h3>Infos Utiles</h3>

                    <div class="icon1">
                            <p>Campus-ENI:</p>
                        <img src="{{ asset('images/divers/university-campus.png') }}" alt="">
                    </div>

                        <div class="icon2">
                            <p>Date sortie:</p>
                            <img src="{{ asset('images/divers/date.png') }}" alt="">
                        </div>

                        <div class="icon3">
                            <p>Rue:</p>
                            <img src="{{ asset('images/divers/vue-sur-la-rue.png') }}" alt="">
                        </div>

                        <div class="icon4">
                            <p>Ville:</p>
                            <img src="{{ asset('images/divers/ville.png') }}" alt="">
                            </div>
                </div>
                </div>

    <footer>
        <div class="bouton">
            <button type="button" class="btn btn-outline-primary">Modifier la Sortie</button>
            <button type="button" class="btn btn-outline-danger">Annuler la Sortie</button>
        </div>
    </footer>






    {% endblock %}



    {% block javascripts %}
        <script>
            requeteAjaxFormulaire('#formAjax', '#formAjax input[type="button"]', "click", '#contentCommentaire', false);
        </script>
    {% endblock %}

