{% extends 'base.html.twig' %}

{% block styleSheets %}
    <link rel="stylesheet" href="{{ asset('css/marie-laure.css') }}">{% endblock %}
{% block title %}Modifier ma sortie | Sortir.com{% endblock %}

{% block body %}
    <div class="container-sm bg-white p-5 w-75 my-3">
        <h1 class="text-center mb-5" style="font-family: 'Permanent Marker', sans-serif">Modifier ma sortie</h1>

        {{ form_start(sortieForm, {'attr': {'id': 'formSortie', 'class': 'form-horizontal m-auto'}}) }}

        {{ form_row(sortieForm.nom) }}

        {{ form_row(sortieForm.dateDebut) }}
        {{ form_row(sortieForm.dateCloture) }}
        {{ form_row(sortieForm.duree) }}


        {{ form_row(sortieForm.nbreInscriptionMax) }}
        {{ form_row(sortieForm.description) }}
        {{ form_row(sortieForm.image) }}
        {{ form_row(sortieForm.ville) }}
        {{ form_row(sortieForm.lieu, {'attr': {'disabled': true}}) }}


        {# BOUTON D'AFFICHAGE DU FORMULAIRE DE CREATION DE LIEU #}
        <div class="form-group-row">
            <button type="button" class="btn btn-outline-primary mb-2 btn-sm" data-bs-toggle="modal"
                    data-bs-target="#blocModal">
                Ajouter un lieu
            </button>
        </div>

{#        <div>etat {{ sortie.etat.id }}</div>#}
        <div class="form-group-row">
            <div class="form-check form-switch col my-3">
                <label for="etatcheckbox" class="form-check-label">Publier la sortie</label>
                <input class="form-check-input" type="checkbox" name="etatcheckbox" id="etatcheckbox" {{ sortie.etat.id >= 2 ? 'checked' : ''  }}>
            </div>
            {#            <div class="col">#}
            {#                <button type="button" class="btn btn-outline-primary m-2 btn-sm float-end" data-bs-toggle="modal"#}
            {#                        data-bs-target="#blocModal">#}
            {#                    Ajouter un lieu#}
            {#                </button>#}
            {#            </div>#}
        </div>

        <div class="row">
            <div class="col" id="contentDetailLieu">
                {# ici s'affiche le lieu quand il est sélectionné #}
                {# IMPORTANT de laisser cette div vide #}
            </div>
        </div>


        <div class="row">
            <div class="col">
                <button type="submit" name="save" class="btn btn-success">Enregister</button>
            </div>
            <div class="col">
                <button type="submit" name="delete" class="btn btn-danger">Supprimer la sortie</button>
            </div>
            <div class="col">
                <button type="submit" name="cancel" class="btn btn-danger">Annuler la sortie</button>
            </div>
        </div>
        {{ form_end(sortieForm) }}
    </div>



    {# FORMULAIRE DE CREATION DE LIEU #}
    <div class="form-row">
        <div class="col">
            <div class="modal fade" id="blocModal" tabindex="-1" aria-labelledby="blocModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {{ form_start(lieuForm, {'attr': {'id': 'formLieu'}}) }}
                        <div class="modal-header">
                            <h5 class="modal-title" id="blocModalLabel">Nouveau lieu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ form_widget(lieuForm) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" id="saveLieu" class="btn btn-primary">Enregistrer</button>
                        </div>
                        {{ form_end(lieuForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# FIN DU FORMULAIRE DE CREATION DE LIEU #}


    {# {{ form_start(sortieForm) }} #}
    {# {{ form_widget(lieuForm, {'attr' : { 'display' : 'none'}}) }} #}
    {# {{ form_end(sortieForm) }} #}

    {# {'attr' : { 'onchange' : 'onLieuSelected(this.value)'}} #}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector('#sortie_form_ville').addEventListener("change", () => {
            document.querySelector('#sortie_form_lieu').disabled = false;
        });
        requeteAjaxGet('#sortie_form_ville', "change", '#sortie_form_lieu', false);
        // requeteAjaxGet('#sortie_form_lieu', "change", '#contentDetailLieu', false);
    </script>
    {# <script> #}
    {# $('saveLieu')._hideModal(); #}
    {# requeteAjaxGet('#saveLieu', "click", '#sortie_form_lieu', false); #}
    {# </script> #}

{% endblock %}

