{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/marie-laure.css') }}">{% endblock %}
{% block title %}Créer une nouvelle sortie | Sortir.com{% endblock %}

{% block body %}
    <div class="container ">
        {{ form_start(sortieForm, {'attr': {'id': 'formSortie', 'class': 'form-horizontal'}}) }}

        {{ form_row(sortieForm.nom) }}

        {{ form_row(sortieForm.dateDebut) }}
        {{ form_row(sortieForm.dateCloture) }}
        {{ form_row(sortieForm.duree) }}


        {{ form_row(sortieForm.nbreInscriptionMax) }}
        {{ form_row(sortieForm.description) }}
        {{ form_row(sortieForm.image) }}
        {{ form_row(sortieForm.ville) }}

        {{ form_row(sortieForm.lieu, {'attr': {'disabled': true}}) }}

        {# BOUTON D'AFFICHAGE DU FORMULAIRE DE CREATION DE LIEU #}
        <div class="">
            <button type="button" class="btn btn-outline-primary m-2" data-bs-toggle="modal" data-bs-target="#blocModal">
                Ajouter un lieu
            </button>
        </div>

        <div class="row">
            <div class="col" id="contentDetailLieu">
                {# ici s'affiche le lieu quand il est sélectionné #}
                {# IMPORTANT de laisser cette div vide #}
            </div>
        </div>


        <div class="col m-2">
            Publier la sortie : <input type="checkbox" name="etatcheckbox">
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Enregister</button>
                <a type="button" class="btn btn-primary" href="{{ path('main') }}">Annuler</a>
            </div>
        </div>
        {{ form_end(sortieForm) }}
    </div>

        {#   FORMULAIRE DE CREATION DE LIEU     #}
        <div class="form-row">
            <div class="col">
                <div class="modal fade" id="blocModal" tabindex="-1" aria-labelledby="blocModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            {{ form_start(lieuForm, {'attr': {'id': 'formLieu'}}) }}
                            <div class="modal-header">
                                <h5 class="modal-title" id="blocModalLabel">Nouveau lieu</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ form_widget(lieuForm) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" id="saveLieu" class="btn btn-primary">Enregistrer</button>
                            </div>
                            {{ form_end(lieuForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#   FIN DU FORMULAIRE DE CREATION DE LIEU     #}


        {#    {{ form_start(sortieForm) }}#}
        {#    {{ form_widget(lieuForm, {'attr' : { 'display' : 'none'}}) }}#}
        {#    {{ form_end(sortieForm) }}#}

        {#{'attr' : { 'onchange' : 'onLieuSelected(this.value)'}}#}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector('#sortie_form_ville').addEventListener("change", () => {
            document.querySelector('#sortie_form_lieu').disabled = false;
        });
        requeteAjaxGet('#sortie_form_ville', "change", '#sortie_form_lieu', false);
        requeteAjaxGet('#sortie_form_lieu', "change", '#contentDetailLieu', false);
    </script>
    <script>
        $('saveLieu')._hideModal();
        requeteAjaxGet('#saveLieu', "click", '#sortie_form_lieu', false);
    </script>

{% endblock %}




{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <div class="container bg-white p-3 w-75 my-3">#}
{#        <h2 class="text-black-50 text-center">Modifier ma sortie</h2>#}
{#        <div class="d-flex">#}
{#            {{ form_start(sortieForm, {'attr': { 'class':"row g-3 needs-validation"}})  }}#}
{#            <div class="form-group ">#}
{#                <div class="col-md-4">#}
{#                    {{ form_row(sortieForm.nom, {'attr': {'class':"col-md-4 form-control" }})}}#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-group d-inline-flex">#}
{#                <div class="form-floating">{{ form_row(sortieForm.dateDebut, {'attr': {'class':"col-md-6 form-control" }})}}</div>#}
{#                <div class="form-floating">{{ form_row(sortieForm.dateCloture, {'attr': {'class':"col-md-6 form-control" }})}}</div>#}

{#            </div>#}
{#            <div class="form-group d-inline-flex row-cols-md-4">#}
{#                {{ form_row(sortieForm.nbreInscriptionMax, {'attr': {'class':"form-control" }})}}#}
{#                {{ form_row(sortieForm.duree, {'attr': {'class':"form-control" }})}} minutes#}
{#            </div>#}
{#            <div class="form-group col-md-6">#}
{#                {{ form_row(sortieForm.description, {'attr': {'class':"form-control" }})}}#}
{#            </div>#}

{#            {{ form_row(sortieForm.urlImage) }}#}
{#            <div class="form-row">#}
{#                {{ form_row(sortieForm.lieu) }}#}
{#                <input class="btn btn-success" type="button" id="btnNewLieu" onclick="afficherLieuForm()" value="+">#}
{#            </div>#}

{#            <div class="form-group d-inline-flex">#}
{#                {{ form_row(sortieForm.save) }}#}
{#                {{ form_row(sortieForm.saveAndPublish) }}#}
{#                <a href="{{ path('main') }}">{{ form_row(sortieForm.cancel) }}</a>#}
{#            </div>#}
{#            {{ form_end(sortieForm, {'attr': { 'class':"form-group row g-3 needs-validation"}})  }}#}

{#            <div id="lieuForm" style="display: none" class="form-group form-control h-50 m-md-2">#}
{#                <h6>Ajouter un lieu</h6>#}
{#                {{ form_start(lieuForm) }}#}
{#                {{ form_widget(lieuForm, {'attr' : { 'display' : 'none'}}) }}#}
{#                {{ form_end(lieuForm) }}#}
{#            </div>#}
{#            #}{#{'attr' : { 'onchange' : 'onLieuSelected(this.value)'}}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{#{% block title %}#}
{#    Créer une nouvelle sortie | Sortir.com#}
{#{% endblock %}#}

