{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row p-3">
            <div class="col">
                <h1 class="text-center">Les sorties</h1>
            </div>
        </div>
        {{ form_start(searchSortieFormType) }}
        <div class="row justify-content-center">
            <div class="col-4">
                {{ form_row(searchSortieFormType.q) }}
                {{ form_row(searchSortieFormType.campus) }}
            </div>
            <div class="col-4">
                {{ form_row(searchSortieFormType.dateMin) }}
                {{ form_row(searchSortieFormType.dateMax) }}
                {{ form_row(searchSortieFormType.archive) }}
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <div class="col-3">
                <button type="submit" class="btn btn-primary w-100">Rechercher</button>
            </div>
        </div>
        {{ form_end(searchSortieFormType) }}
        <div class="row">
            {% for sortie in tableauSorties %}
                <div class="col-3 mb-3">
                    <div class="sortieBox">
                        <div class="imgbox">
                            {% if sortie.urlImage %}
                                {% if 'http' in sortie.urlImage %}
                                    <img src="{{ sortie.urlImage }}" alt="image sortie">
                                {% else %}
                                    <img src="{{ 'images/sorties/' ~ sortie.urlImage }}" alt="image sortie">
                                {% endif %}
                            {% else %}
                                <img src="{{ 'images/sorties/imageSortieParDefault.png' }}" alt="image sortie">
                            {% endif %}
                        </div>
                        <div class="specifies">
                            <div class="row">
                                <div class="col"><h5>{{ sortie.nom }}</h5></div>
                                <div class="col text-end"><h5>{{ sortie.dateDebut | date('d/m/Y') }}</h5></div>
                            </div>
                            <div class="row">
                                <div class="col"><h6>{{ sortie.organisateur.pseudo }}</h6></div>
                                <div class="col-3"><h6 class="text-end">{{ sortie.dateDebut | date('h:m') }}</h6></div>
                            </div>
                            <div class="row pt-2 pb-2">
                                <div class="col">
                                    <ul>
                                        <li>Date cloture : {{ sortie.dateCloture | date('d/m/Y') }}</li>
                                        <li>Inscrit : {{ sortie.nbreInscriptionMax }}</li>
                                        <li>Etat : {{ sortie.etat.libelle }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col"><a href="{{ path('sortie_detail', {'id': sortie.id}) }}" class="btn btn-primary">Afficher</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col"><i class="bi bi-emoji-frown"></i> Il n'y pas de sortie à venir</div>
                </div>
                <div class="row p-3">
                    <div class="col"><a type="button" class="btn btn-outline-primary" href="{{ path('sortie_create') }}">Créer une sortie</a></div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                {{ knp_pagination_render(tableauSorties) }}
            </div>
        </div>
    </div>

{% endblock %}
