{% for campus in result %}
    <form id="formCampus{{ campus.id }}">
        <ul class="list-group list-group-horizontal row justify-content-center">
            <li class="list-group-item col-lg-2 col-md-4" id="afficherNomCampus{{ campus.id }}">{{ campus.nom }}</li>
            <li class="list-group-item col-lg-1 col-md-2" id="modifier{{ campus.id }}">
                <button class="btn btn-outline-secondary" title="Modifier" alt="modifier le site" onclick="modifierCampus({{ campus.id }})">
                    <i class="bi bi-pencil"></i>
                </button>
            </li>
            <li class="list-group-item col-lg-1 col-md-2" id="supprimer{{ campus.id }}" title="Supprimer" alt="Supprimer le site">
                <a class="btn btn-outline-secondary" href="{{ path('campus_delete', {'id' : campus.id}) }}">
                    <i class="bi bi-trash"></i>
                </a>
            </li>
        </ul>
    </form>
{% endfor %}