<ul class="list-group list-group-horizontal row justify-content-center">
    <li class="list-group-item col-3" id="afficherNomVille{{ villeUpdate.id }}">{{ villeUpdate.nom }}</li>
    <li class="list-group-item col-2" id="afficherCPville{{ villeUpdate.id }}">{{ villeUpdate.codePostal }}</li>
    <li class="list-group-item col-2" id="modifier{{ villeUpdate.id }}"><button  onclick="modifierVille({{ villeUpdate.id }})">Modifier</button></li>
    <li class="list-group-item col-2" id="supprimer{{ villeUpdate.id }}"><button >Supprimer</button></li>
</ul>
