{% for ville in result %}
    <form id="formVille{{ ville.id }}">
        <ul class="list-group list-group-horizontal row justify-content-center">
            <li class="list-group-item col-lg-2 col-md-4" id="afficherNomVille{{ ville.id }}">{{ ville.nom }}</li>
            <li class="list-group-item col-lg-2 col-md-4" id="afficherCPville{{ ville.id }}">{{ ville.codePostal }}</li>
            <li class="list-group-item col-lg-1 col-md-2 id="modifier{{ ville.id }}">
                <button class="btn btn-outline-secondary" title="Modifier" alt="modifier la ville" onclick="modifierVille({{ ville.id }})">
                    <i class="bi bi-pencil"></i>
                </button>
            </li>
            <li class="list-group-item col-lg-1 col-md-2" id="delete{{ ville.id }}">
                <a class="btn btn-outline-secondary" href="{{ path('ville_delete', {'id': ville.id}) }}">
                    <i class="bi bi-trash"></i>
                </a>
            </li>
        </ul>
    </form>
{% endfor %}
