{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <p>{{ user.nom }}</p>
    <p>{{ user.prenom }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.pseudo }}</p>

    <a href="{{ path('user_modifier') }}">Modifier le profil</a>

{% endblock %}
