{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    {{ user.nom }}
    {{ user.prenom }}
    {{ user.email }}
    {{ user.pseudo }}

    <a href="{{ path('user_modifier') }}">Modifier le profil</a>

{% endblock %}
