{% extends 'base.html.twig' %}

{% block styleSheets %}<link rel="stylesheet" href="{{ asset('css/bruno.css') }}">{% endblock %}
{% block title %}Modifier profil{% endblock %}

{% block body %}

    <div class="container pt-3 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                {{ form_start(userForm) }}
                {{ form_row(userForm.pseudo, {'attr': {'class': ''}}) }}

                {{ form_row(userForm.nom, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.prenom, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.email, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.telephone, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.image, {'attr': {'class': ''}}) }}
                {{ form_row(userForm.plainPassword, {'attr': {'class': ''}}) }}
                <div class="row justify-content-center mt-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary w-100">Enregister</button>
                    </div>
                </div>
                {{ form_end(userForm) }}
            </div>
            <div class="col-2">
                <div class="row">
                    <button type="button" class="btn btn-primary btn-sm mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Supprimer le compte</button>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ asset('images/divers/confirmation-suppression-user.gif') }}" alt="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary" disabled>Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
